<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Sign up/Log in</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="gfi.png">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}" type="text/css"/>
  </head>
  <body style = "font-family: 'Noto Sans JP', sans-serif;">
        <div class='menu-container'>
          <div class='menu'>
            <div class='links'>
              <a class='home' href="index.html">Home</a>   
              <a class='signup' href="signup.html">Sign Up</a>      <!-- This is nested now -->
              <a class='login' href="login.html">Login</a>         <!-- This one too! -->
              <a class='about' href="about.html">About</a>   
            </div>
          </div>
        </div>
        <div class = "main-bg">
          <div class="join-container">
            <header class="join-header">
              <h1> Sign Up </h1>
            </header>
            <main class="join-main">
              {% block content %}
              <h2>Sign up</h2>
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: white">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button style = "font-family: 'Noto Sans JP', sans-serif; margin-bottom:20px" type="submit" class="btn">Sign up!</button>
              </form>
              {% endblock %}
                
                <a style="color: white" href="login.html">Already signed up? Log in!</a>

            </main>
          </div>
        </div>
    </body>
</html>